<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/"
          ><img
            src="{{ url_for('static', filename='img/KeyMG.png') }}"
            alt="KeyMG"
          />
          KeyMG</a
        >
      </div>
      <div class="buttons">
        <h2><a href="#">Discover</a></h2>
        <h2><a href="#">Community</a></h2>
        <h2><a href="#">Contact</a></h2>
      </div>
      <div class="buttons w-230">
        <h2><a href="/">Sign Up</a></h2>
        <h2 class="active"><a href="/view">Login</a></h2>
      </div>
    </nav>
    <section class="banner">
      <div class="content">
        <h3>Label goes here</h3>
        <h1>Browse Music</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem magni
          cupiditate modi quibusdam expedita deserunt asperiores? Illo sed
          exercitationem eaque soluta maiores, aspernatur voluptate assumenda
          enim quasi aliquam perspiciatis omnis.
        </p>
        <div class="search">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search a song"
          />
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card">
        <div class="left">
          <h2>Title</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, est
            ipsam? Quis possimus dicta odio dolor tenetur laboriosam quibusdam
            excepturi accusantium. Consectetur maiores suscipit reiciendis sed
            consequatur vel delectus culpa!
          </p>
          <button>Add to list</button>
        </div>
        <div class="right">
          <img
            src="{{ url_for('static', filename='img/vector.png') }}"
            alt="song"
          />
        </div>
      </div>
      <div class="card">
        <div class="left">
          <h2>Title</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, est
            ipsam? Quis possimus dicta odio dolor tenetur laboriosam quibusdam
            excepturi accusantium. Consectetur maiores suscipit reiciendis sed
            consequatur vel delectus culpa!
          </p>
          <button>Add to list</button>
        </div>
        <div class="right">
          <div class="imagen">
            <img
              src="{{ url_for('static', filename='img/vector.png') }}"
              alt="song"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="left">
          <h2>Title</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, est
            ipsam? Quis possimus dicta odio dolor tenetur laboriosam quibusdam
            excepturi accusantium. Consectetur maiores suscipit reiciendis sed
            consequatur vel delectus culpa!
          </p>
          <button>Add to list</button>
        </div>
        <div class="right">
          <img
            src="{{ url_for('static', filename='img/vector.png') }}"
            alt="song"
          />
        </div>
      </div>
    </section>
  </body>
</html>
